@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  min-height: 100%;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(25, 25, 25);
  color: rgb(25, 25, 25);
  overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: underline;
}

.button-primary {
  background-color: rgb(25, 25, 25);
  border-radius: 3px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  line-height: 1.4;
  padding: 0px;
  width: 100%;
  appearance: none;
}

.o-form-input-name-email,
.o-form-input-name-password {
  width: 100%;
  height: 40px;
  display: inline-block;
  border: 1px solid rgb(194, 194, 193);
  border-radius: 3px;
}

input,
.o-form-input-name-email,
.o-form-input-name-password {
  padding: 5px !important;
}

.fwwXdp {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 80px;
  gap: 8px;
}

.dTTneq {
  width: 100%;
  max-width: 366px;
}

.jfDCYB {
  font-size: 36px;
  color: white;
  margin: 0px 0px 35px;
  width: 366px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
}

.sndcol {
  border-radius: 16px 0px 0px 16px;
  margin: 0px;
  background-color: white;
  height: 100vh;
}

.fZkklZ {
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  color: rgb(94, 94, 94);
  margin-bottom: 24px;
  text-align: center;
  max-width: 100%;
}

.cfbhxT {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  bottom: 24px;
}

.iovUGO {
  font-size: 14px;
  line-height: 18px;
}

.cdXYNd {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(25, 25, 25);
  padding: 3px 10px;
  border-radius: 6px;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(25, 25, 25);
  border-image: initial;
}